:root {
    --color-white-two: #ffffff;
  --color-white: #f1f3f5;
  --color-blue: #aeb5c0;
  --color-grey: #757cbb;
  --color-dark: #06090d;
  --color-purple: #8d66fc;
  --color-yellow: #f6ff82;
  --color-red: #ff5c5c;
}
.main {
  width: 80%;
  margin: 4px 4px 4px 12px;
}

.header-info {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 5px;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-blue);
  padding: 8px;
  border-radius: 12px;
}

.search img {
  width: 20px;
}

.search button {
  background-color: #ffffff00;
  border: none;
}

.search input{
    border: none;
    outline-style: none;
    padding: 4px;
    background-color: var(--color-white);
}

.notification{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.notification .notify, 
.notification .message{
    width: 20px;
}

.notification .profile img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--color-purple);
}

.main .header-filter .filters{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
}

.header-filter .filters button{
    background-color: var(--color-white);
    border: 1px solid var(--color-blue);
    border-radius: 12px;
    padding: 5px 8px 5px 8px;
}

.header-filter .filters .active{
    background-color: var(--color-dark);
    color: var(--color-white);
    border: 1px solid var(--color-dark);
}

.main-content{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.main-content .post-section{
    padding-right:5px;
    width: 70%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
}

.card-article{
    background-color: var(--color-white-two);
    border-radius: 16px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-picture figure{
    width: 200px;
    height: 200px;
    background-color: var(--color-red);
    border-radius: 12px;
    display: flex;
    place-content: center;
}
.card-picture .figure-red{
    background-color: var(--color-red);
}
.card-picture .figure-purple{
    background-color: var(--color-purple);
}
.card-picture .figure-yellow{
    background-color: var(--color-yellow);
}

.card-picture img{
width: 180px;
height: 180px;
}

.card-body{
    padding: 12px;
}

.card-body-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.user-info{
    display: flex;
    gap: 5px;
}

.user-info img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-purple);
}
.user{
    color: var(--color-blue);
}
.category{
    color: var(--color-red);
}

.card-body-body{
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.card-body-footer{
    display: flex;
    padding: 10px;
    gap: 10px;
}

.card-body-footer button{
    background-color: var(--color-white-two);
    color: var(--color-grey);
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid var(--color-blue);
}
.card-body-footer button img{
    width: 12px;
}
.card-body-footer button:nth-child(1){
    background-color: var(--color-purple);
    border: 1px solid var(--color-purple);
    color: var(--color-white);
}

.card-body-footer button:nth-child(1) span:nth-child(1){
    color: var(--color-blue);
}
.card-body-footer button:nth-child(4){
    background-color: var(--color-yellow);
    border: 1px solid var(--color-yellow);
    color: var(--color-dark);
}



/* -------------------------- */
.main-content .information{
    padding-right: 10px;
    width: 30%;
}

.my-wallet{
    padding: 20px;
    background-color: var(--color-dark);
    color: var(--color-white-two);
    border-radius: 16px;
}

.my-wallet .smn{
    display: flex;
    align-items: end;
    gap: 10px;
    margin: 20px 0 10px 0;
}

.my-wallet button{
    padding: 8px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: none;
    border-radius: 6px;
    color: var(--color-white-two);
    background-color: var(--color-purple);
}


.author-top{
    margin-top: 20px;
    padding: 15px;
    border-radius: 16px;
    background-color: var(--color-white-two);
}

.author{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    border-radius: 8px;
    margin-top: 10px;
}
.bar{
    display: flex;
    position: absolute;
    z-index: 2;
    height: 35px;
    border-radius: 5px 0 0 5px;
}

.bar-blue{
    background-color: var(--color-blue);
    border: 1px solid var(--color-blue);
}
.bar-purple{
    background-color: var(--color-purple);
    border: 1px solid var(--color-purple);
}
.bar-10{
    width: 10%;
}
.bar-20{
    width: 20%;
}
.bar-30{
    width: 30%;
}
.bar-40{
    width: 40%;
}
.bar-50{
    width: 50%;
}
.bar-60{
    width: 60%;
}
.bar-70{
    width: 70%;
}.bar-80{
    width: 80%;
}.bar-90{
    width: 90%;
}.bar-100{
    width: 100%;
}

.author-body{
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.author-top-information{
    padding-top: 10px;
    color: var(--color-blue);
}

.author-top-information strong{
    color: var(--color-dark);
}
.author-top-information .votos{
    margin-bottom: 10px;
    display: inline-block;
}

.author-top-information .description span{
    color: var(--color-purple);
}
